.nft__wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(80%, 1fr));
  width: 250px;
  height: 285px;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nft__img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nft__name {
  padding: 10px 5px;
  margin: 0px;
}

.nft__skeleton {
  border-radius: 5px;
}
