.error-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffebeb;
  border: 1px solid #ff0000;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.error-message h3 {
  color: #ff0000;
  margin: 0 0 10px 0;
}

.error-message p {
  margin: 0;
}
