.search {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  max-width: 800px;
  margin: auto auto 1.5rem;
  padding: 0px 1.5rem;
}

.search__box {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  -webkit-box-flex: 1;
  flex-grow: 1;
  position: relative;
  max-width: 552px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 7%) 0px 0.5rem 1.5rem;
  border: 1px solid rgba(83, 83, 110, 0.25);
  transition: box-shadow 0.2s ease-in-out 0s, border 0.2s ease-in-out 0s;
  font-size: 0.875rem;
}

.search__box:focus-within {
  box-shadow: rgb(0 212 255 / 25%) 0px 0px 4px, rgb(0 0 255 / 15%) 0px 4px 31px;
  border-color: rgb(74, 114, 245);
}
