.collection-page {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.collection-page__banner {
  width: 100%;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.collection-page__banner::after {
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #0d0d0d 0, transparent 65%);
  position: absolute;
  top: 0;
  opacity: 0.4;
  content: "";
  height: 200px;
  width: 100%;
}

.banner__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collection-page__profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 3px 6px 0 #666666, 0 4px 10px 0 rgba(0, 0, 0, 0.6);
  position: absolute;
  transform: translate(-50%, -80%);
  left: 50%;
  z-index: 1;
}

.profile__img:hover {
  background-size: 110%;
  transition: background-size 0.2s ease-in-out;
}

.profile__img,
.nft__img {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.collection-page__content {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 20px;
}

.content__nft-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.description__txt {
  --max-lines: 3;
  --line-height: 1.4;

  line-height: var(--line-height);

  overflow: hidden;
  position: relative;
}

.description__txt:not(.active) {
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
}

.description__txt:not(.active)::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, white);
}

.description__expand-btn {
  display: flex;
  padding: 7px;
  margin: 15px;
  appearance: none;
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: pointer;
}

.description__expand-btn:hover {
  background: #ccc;
}

.content__description {
  display: flex;
  align-items: flex-start;
}

.nft-list__item:hover .nft__wrapper {
  box-shadow: -0.3rem 0.3rem 4px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0.3rem, -0.3rem, 0px);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__socials {
  display: flex;
  gap: 0.5em;
}

.header__socials a:hover svg {
  border-radius: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
