.search__input {
  position: relative;
  display: flex;
  overflow: auto hidden;
  border-radius: 24px 0px 0px 24px;
  height: inherit;
  font-size: inherit;
  width: 100%;
}

.input--search {
  height: inherit;
  line-height: inherit;
  font-size: inherit;
  border-radius: 24px 0px 0px 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  caret-color: rgb(74, 114, 245);
  border: none;
  background: none;
  padding: 0px 0px 0px 1rem;
  touch-action: manipulation;
}

.input--search:focus {
  outline: none;
  box-shadow: none;
}
