.search__button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 0.5rem 0px 0px;
}

.search__separator {
  pointer-events: none;
  display: block;
  width: 2px;
  height: 32px;
  border-radius: 2px;
  background-color: rgba(83, 83, 110, 0.5);
  margin-right: calc(0.5rem - 2px);
}

.button--search {
  padding: 0px;
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  margin: 0px;
  transition: border 0.2s ease-out 0s;
  height: 32px;
}

.icon-box {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  border-radius: 50%;
  min-width: 32px;
  height: 100%;
  transition: background-color 0.2s ease-out 0s, filter 0.2s ease-out 0s;
}
